
                                    body {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
                                    .HH-MainContent {overflow:hidden;}
                                    .m-row_content {padding-top:0;}
                                    /*--Popup--*/
                                    .promo-page-overlay {
                                    display:none;
                                    position:fixed;
                                    top:0;
                                    left:0;
                                    right:0;
                                    width:100%;
                                    height:100%;
                                    background:rgba(0,0,0, 0.7);
                                    z-index:1000;
                                    }
                                    .promo-page-popup {
                                    display:none;
                                    position:fixed;
                                    top:0;
                                    left:0;
                                    z-index:1001;
                                    width:100%;
                                    height:100%;
                                    overflow:auto;
                                    }
                                    .promo-page-popup-inner {
                                    position:absolute;
                                    top:0;
                                    left:0;
                                    width:auto;
                                    }
                                    .promo-page-popup-lock {overflow:hidden!important;}
                                    .promo-page-popup_success {}
                                    .promo-page-popup_error {}
                                    .promo-page-popup_history {}
                                    .promo-page-popup-content {
                                    }
                                    .promo-page-popup_success .promo-page-popup-content {padding:60px 60px 50px;text-align:center;font-size:25px;line-height:25px;color:#000;}
                                    .promo-page-popup_success .promo-page-form__buttons {margin-top:45px;}
                                    .promo-page-popup_history .promo-page-popup-content {padding:0;}
                                    .promo-page-popup-close {
                                    position:absolute;
                                    top: 30px;
                                    right: 30px;
                                    width: 30px;
                                    height: 30px;
                                    z-index: 1004;
                                    cursor: pointer;
                                    }
                                    .promo-page-popup-close:hover {
                                    }
                                    /*--/popup--*/
                                    .promo-page-background {position:absolute;z-index:-1;top:0;right:-9999px;left:-9999px;overflow:hidden;width:100vw;min-width:680px;height:100%;margin:0 auto;background-repeat:no-repeat;background-position:center center;background-size:cover;}
                                    .promo-page-button {display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:13px 25px;background-color:#509deb;border:1px solid #509deb;color:#ffffff;font:normal 16px/18px Arial,sans-serif;text-decoration:none;
                                    -webkit-transition-property: background-color,color,-webkit-box-shadow;
                                    transition-property: background-color,color,box-shadow;
                                    -webkit-transition-duration: .2s;
                                    transition-duration: .2s;
                                    -webkit-transition-timing-function: ease-in-out;
                                    transition-timing-function: ease-in-out;
                                    }
                                    .promo-page-button:hover {color:#fff;border-color:#348de8;background-color:#348de8;
                                    text-decoration: none;
                                    -webkit-transition-property: background-color,color,border-color;
                                    transition-property: background-color,color,border-color;
                                    -webkit-transition-duration: .2s;
                                    transition-duration: .2s;
                                    -webkit-transition-timing-function: ease-in-out;
                                    transition-timing-function: ease-in-out;
                                    }
                                    .promo-page-button:active {color:#fff;background-color:#1a7de2;border-color:#509deb;
                                    text-decoration: none;
                                    outline: 0;
                                    -webkit-box-shadow: inset 0 2px rgba(0,0,0,.2),0 0 4px 1px rgba(80,157,235,.2);
                                    box-shadow: inset 0 2px rgba(0,0,0,.2),0 0 4px 1px rgba(80,157,235,.2);
                                    -webkit-transition-property: background-color,color,-webkit-box-shadow;
                                    transition-property: background-color,color,box-shadow;
                                    -webkit-transition-duration: .1s,.1s,.05s;
                                    transition-duration: .1s,.1s,.05s;
                                    -webkit-transition-timing-function: ease-in-out;
                                    transition-timing-function: ease-in-out;
                                    } 
                                    .promo-page-button_transparent {background:none;border-color:#ffffff;}
                                    .promo-page-button_transparent:hover {background:#ffffff;border-color:#ffffff;color:#333333;}
                                    .promo-page-button_transparent:active {background:#ffffff;border-color:#ffffff;color:#333333;}
                                    .gui-h2 {color:#000000;font:normal 32px/37px Arial,sans-serif;}
                                    .gui-highlighting {padding:3px 2px;background-color:#fff450;}
                                    .promo-page {position:relative;color:#333333;}
                                    .promo-page-banner {position:relative;z-index:0;height:440px;padding:0;color:rgb(255,255,255);font:normal 14px/24px Arial,sans-serif;}
                                    .promo-page-banner__background {background-image:url();}
                                    .promo-page-banner__container {padding-top:108px;text-align:center;}
                                    .promo-page-banner__title {margin:0;padding:0;font:bold 42px/46px ProximaNovaCond,Arial,sans-serif;}
                                    .promo-page-banner__text {margin-top:30px;}
                                    .promo-page-banner__button {margin-top:40px;}
                                    .promo-page-advantages {position:relative;z-index:0;padding:91px 0 75px;text-align:center;font:normal 14px/23px Arial,sans-serif;}
                                    .promo-page-advantages__list {margin:0 -15px;}
                                    .promo-page-advantages__list:after {content:'';clear:both;display:table;}
                                    .promo-page-advantages__item {box-sizing:border-box;float:left;width:33.3333%;padding:0 40px;}
                                    .promo-page-advantages__canvas {height:53px;}
                                    .promo-page-advantages__canvas:after {content:'';display:inline-block;vertical-align:middle;width:0;height:100%;}
                                    .promo-page-advantages__image {display:inline-block;vertical-align:middle;}
                                    .promo-page-advantages__info {}
                                    .promo-page-advantages__title {margin-top:39px;color:#000000;font-size:22px;line-height:23px;}
                                    .promo-page-advantages__text {margin:10px auto 0;color:#666666;}
                                    .promo-page-types {position:relative;z-index:0;padding:73px 0 69px;}
                                    .promo-page-types__background {background-color:#f5f5f5;}
                                    .promo-page-types__title {text-align:center;}
                                    .promo-page-types__list {margin-top:7px;padding:0;font-size:0;line-height:0;}
                                    .promo-page-types__item {box-sizing:border-box;display:inline-block;vertical-align:top;width:25%;margin-top:70px;padding-right:80px;font-size:14px;line-height:21px;}
                                    .promo-page-types__name {color:#000000;font-weight:bold;font-size:22px;}
                                    .promo-page-types__text {margin-top:15px;color:#000000;font-size:18px;line-height:25px;}
                                    .promo-page-types__features {margin-top:20px;line-height:23px;}
                                    .promo-page-types__price {display:inline-block;margin-top:30px;padding:0 10px;border:1px solid #509deb;color:#509deb;line-height:32px;-webkit-transition:all 0.2s ease-in-out 0s;transition:all 0.2s ease-in-out 0s;}
                                    .promo-page-types__price:hover {background-color:#509deb;color:#ffffff;text-decoration:none;}
                                    .promo-page-freebie {position:relative;z-index:0;min-height:153px;padding:67px 0 30px;}
                                    .promo-page-freebie:after {content:'';clear:both;display:table;}
                                    .promo-page-freebie__background {background-image:url(
                                          );}
                                    .promo-page-freebie__canvas {float:left;width:30%;padding-top:10px;text-align:center;}
                                    .promo-page-freebie__info {float:left;width:70%;}
                                    .promo-page-freebie__info_active {}
                                    .promo-page-freebie__title {color:rgb(255,255,255);font-size:22px;line-height:32px;}
                                    .promo-page-freebie__text {max-width:705px;margin-top:10px;color:rgba(255,255,255,0.8);}
                                    .promo-page-freebie__text + .promo-page-freebie__text {margin-top:0;opacity:0.5;}
                                    .promo-page-freebie__text-extra {color:rgba(255,255,255,0.5);opacity:0;
                                    -webkit-transition:opacity 0.3s ease;
                                    -moz-transition:opacity 0.3s ease;
                                    -o-transition:opacity 0.3s ease;
                                    transition:opacity 0.3s ease;
                                    }
                                    .promo-page-freebie__info_active .promo-page-freebie__text-extra {opacity:1;}
                                    .promo-page-freebie__highlighting {color:rgba(0,152,248,0.8);}
                                    .promo-page-freebie__highlighting:focus {text-decoration:none;}
                                    .promo-page-freebie__highlighting:hover {text-decoration:underline;}
                                    .promo-page-sample {margin-top:90px;color:#000000;font-size:22px;line-height:32px;text-align:center;}
                                    .promo-page-sample__title {}
                                    .promo-page-sample__button {margin-top:35px;}
                                    .promo-page-responses {position:relative;z-index:0;padding:75px 0;}
                                    .promo-page-responses_alternate {}
                                    .promo-page-responses__background {
                                    -webkit-transition:background-color 0.5s ease;
                                    -moz-transition:background-color 0.5s ease;
                                    -o-transition:background-color 0.5s ease;
                                    transition:background-color 0.5s ease;
                                    }
                                    .promo-page-responses_alternate .promo-page-responses__background {background-color:#2b2f33;}
                                    .promo-page-responses__title {position:relative;margin-bottom:80px;color:#000;text-align:center;font:32px/35px Arial, sans-serif;}
                                    .promo-page-responses_alternate .promo-page-responses__title {color:#fff;}
                                    .promo-page-responses__title-text {}
                                    .promo-page-responses__title-text_alternate {display:none;}
                                    .promo-page-responses_alternate .promo-page-responses__title-text {display:none;}
                                    .promo-page-responses_alternate .promo-page-responses__title-text_alternate {display:inline;}
                                    .promo-page-responses__graphic {margin-bottom:60px;}
                                    .promo-page-responses__toggler {position:absolute;top:0;right:0;}
                                    .promo-page-graphic {position:relative;min-height:422px;}
                                    .promo-page-graphic__area {position:relative;}
                                    .promo-page-graphic__measure {position:absolute;top:31px;right:5px;padding-right:14px;background:url() top right no-repeat;color:rgba(153,153,153, 0.73);font:11px/26px Arial, sans-serif;}
                                    .promo-page-graphic__canvas {position:relative;z-index:2;display: block;width:100%;height:262px;}
                                    .promo-page-graphic__tooltips {position:absolute;z-index:10;opacity:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding:0 5px;
                                    -webkit-transition:opacity 0.5s ease;
                                    -moz-transition:opacity 0.5s ease;
                                    -o-transition:opacity 0.5s ease;
                                    transition:opacity 0.5s ease;
                                    }
                                    .promo-page-graphic__tooltips_active {z-index:12;opacity:1;}
                                    .promo-page-graphic__tooltip {position:relative;padding-top:50px;}
                                    .promo-page-graphic__tooltip_alternate {display:none}
                                    .promo-page-responses_alternate .promo-page-graphic__tooltip {display:none;}
                                    .promo-page-responses_alternate .promo-page-graphic__tooltip_alternate {display:block;}
                                    .promo-page-graphic__tooltip-item {position:relative;display:inline-block;vertical-align:top;position:relative;min-height:110px;}
                                    .promo-page-graphic__tooltip-item:before {content:'';position:absolute;top:-30px;left:0;height:20px;width:1px;background-color:#cccccc;}
                                    .promo-page-graphic__tooltip_alternate .promo-page-graphic__tooltip-item:before {background-color:rgba(255,255,255,0.5);}
                                    .promo-page-graphic__tooltip-item_standard_plus {margin-left:61px;}
                                    .promo-page-graphic__tooltip-item_premium {margin-left:130px;}
                                    .promo-page-graphic__tooltip-item_standard_alt {width:170px;padding-right:16px;}
                                    .promo-page-graphic__tooltip-item_premium_alt {width:290px;}
                                    .promo-page-graphic__tooltip-item_premium_alt_upd {width:186px;}
                                    .promo-page-graphic__tooltip-item_premium_alt_upd_middle {width:205px;}
                                    .promo-page-graphic__tooltip-item_premium_alt_upd_third {margin-left:-23px;}
                                    .promo-page-graphic__tooltip-title {margin-bottom:15px;color:#333333;font:14px/18px Arial, sans-serif;}
                                    .promo-page-graphic__tooltip_alternate .promo-page-graphic__tooltip-title {color:#fff;}
                                    .promo-page-graphic__tooltip-text {max-width:515px;color:#676767;font:12px/18px Arial, sans-serif;}
                                    .promo-page-graphic__tooltip_alternate .promo-page-graphic__tooltip-text {color:#999999;}
                                    .promo-page-graphic__tooltip-highlight {color:#dfb500;}
                                    .promo-page-graphic__axis {position:absolute;top:1px;left:0;width:100%;color:#999999;font:10px/12px Arial, sans-serif;}
                                    .promo-page-graphic__axis_justified {text-align:justify;}
                                    .promo-page-graphic__axis_justified:after {content: '.';display: inline-block;width: 100%;visibility: hidden;line-height: 0;font-size: 0;}
                                    .promo-page-graphic__axis-item {position:relative;display:inline-block;vertical-align:top;width:10px;white-space:nowrap;}
                                    .promo-page-graphic__axis-item_standard_plus:before {content:'';position:absolute;bottom:100%;left:2px;height:200px;width:1px;background-color:rgba(255,255,255,0.2);}
                                    .promo-page-graphic__axis-item_premium {margin-left:115px;}
                                    .promo-page-graphic__axis-item_premium:before {content:'';position:absolute;bottom:100%;left:2px;height:200px;width:1px;background-color:rgba(255,255,255,0.2);}
                                    .promo-page-graphic__axis-item_premium_alt {margin-left:171px;}
                                    .promo-page-graphic__axis-item_right {float:right;}
                                    .promo-page-graphic__axis-item_alt_upd {margin-left:171px;}
                                    .promo-page-graphic__axis-item_alt_upd_last {margin-left:175px;}
                                    .promo-page-graphic__axis-stroke {}
                                    .promo-page-graphic__axis-stroke:before {content:'';position:absolute;bottom:100%;left:4px;height:21px;width:1px;margin-bottom:5px;background-color:#2b2f33;}
                                    .promo-page-toggler {cursor:pointer;}
                                    .promo-page-toggler__input {display:none;}
                                    .promo-page-toggler__button {display:inline-block;vertical-align:top;padding:5px 13px;color:#333333;border:1px solid #999999;border-radius:20px;font:12px/16px Arial, sans-serif;-webkit-transition:border 0.2s ease-in-out 0s;transition:border 0.2s ease-in-out 0s;}
                                    .promo-page-toggler__button:hover {border-color:#000000;}
                                    .promo-page-toggler__close {position:relative;display:none;vertical-align:top;width:30px;height:30px;opacity:0.25;}
                                    .promo-page-toggler:hover .promo-page-toggler__close {opacity:0.5;}
                                    .promo-page-toggler__close:before {content:'';position:absolute;top:50%;left:50%;width:2px;height:40px;margin:-20px 0 0 -1px;background-color:#fff;
                                    -moz-transform: rotate(45deg); /* Для Firefox */
                                    -ms-transform: rotate(45deg); /* Для IE */
                                    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
                                    -o-transform: rotate(45deg); /* Для Opera */
                                    transform: rotate(45deg);
                                    }
                                    .promo-page-toggler__close:after {content:'';position:absolute;top:50%;left:50%;width:2px;height:40px;margin:-20px 0 0 -1px;background-color:#fff;
                                    -moz-transform: rotate(-45deg); /* Для Firefox */
                                    -ms-transform: rotate(-45deg); /* Для IE */
                                    -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
                                    -o-transform: rotate(-45deg); /* Для Opera */
                                    transform: rotate(-45deg);
                                    }
                                    .promo-page-toggler__input:checked ~ .promo-page-toggler__button {display:none;}
                                    .promo-page-toggler__input:checked ~ .promo-page-toggler__close {display:inline-block;}
                                    .promo-page-slider {position:relative;width:616px;margin:0 auto;}
                                    .promo-page-slider-directs {position:relative;margin:0;padding:0;list-style:none;text-align:center;}
                                    .promo-page-slider-directs__item {display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:20px;height:20px;border-radius:50%;background-color:transparent;border:1px solid #cbcbcb;cursor:pointer;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    }
                                    .promo-page-responses_alternate .promo-page-slider-directs__item {background-color:transparent;border-color:#55585b;}
                                    .promo-page-slider-directs__item:hover {background-color:#cbcbcb;border:0;}
                                    .promo-page-responses_alternate .promo-page-slider-directs__item:hover {background-color:#55585b;}
                                    .promo-page-slider-directs__item_active {background-color:#cbcbcb;border:0;}
                                    .promo-page-responses_alternate .promo-page-slider-directs__item_active {background-color:#55585b;}
                                    .promo-page-slider-directs__item + .promo-page-slider-directs__item {margin-left:16px;}
                                    .promo-page-slider__arrow {position:absolute;z-index:1;top:170px;width:70px;height:80px;cursor:pointer;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    }
                                    .promo-page-slider__arrow:hover {opacity:0.6;}
                                    .promo-page-responses_alternate .promo-page-slider__arrow {opacity:0.3;}
                                    .promo-page-responses_alternate .promo-page-slider__arrow:hover {opacity:0.6;}
                                    .promo-page-slider__arrow:before {content:'';position:absolute;width:45px;height:45px;top:50%;margin:-22px 0 0;
                                    -moz-transform: rotate(45deg); /* Для Firefox */
                                    -ms-transform: rotate(45deg); /* Для IE */
                                    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
                                    -o-transform: rotate(45deg); /* Для Opera */
                                    transform: rotate(45deg);
                                    }
                                    .promo-page-slider__arrow_left {left:-139px;}
                                    .promo-page-slider__arrow_left:before {left:25%;border-left:4px solid #cccccc;border-bottom:4px solid #cccccc;}
                                    .promo-page-slider__arrow_right {right:-139px;}
                                    .promo-page-slider__arrow_right:before {right:25%;border-right:4px solid #cccccc;border-top:4px solid #cccccc;}
                                    .promo-page-grid {position:absolute;z-index:1;bottom:5px;left:5px;right:5px;}
                                    .promo-page-grid__row {position:relative;height:49px;border-top:1px solid #ebebeb;}
                                    .promo-page-responses_alternate .promo-page-grid__row {border-color:#404447;}
                                    .promo-page-contacts {margin:80px 0 100px;font-size:0;line-height:0;text-align:center;}
                                    .promo-page-contacts__item {position:relative;display:inline-block;padding:0 35px;color:#222222;font:normal 15px/32px Arial,sans-serif;}
                                    .promo-page-contacts__item + .promo-page-contacts__item:before {content:'/';position:absolute;top:0;left:-2px;color:#666666;}
                                    .promo-page-contacts__link {color:#0098f8;}
                                    .promo-page-contacts__link:hover {text-decoration:none;}
                                    .promo-page-feedback {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:496px;padding:30px;background-color:#fff;color:#222222;border-radius:5px;}
                                    .promo-page-feedback__title {margin-bottom:12px;padding:0 20px;font:bold 23px/23px Arial, sans-serif;}
                                    .promo-page-feedback__hint {margin-bottom:22px;padding:0 20px;font:14px/21px Arial, sans-serif;}
                                    .promo-page-feedback__form {padding:20px;background-color:#f5f5f5;border-radius:2px;}
                                    .promo-page-feedback__field {position:relative;float:left;width:100%;}
                                    .promo-page-feedback__field_small {width:190px;}
                                    .promo-page-feedback__field_small + .promo-page-feedback__field_small {margin-left:16px;}
                                    .promo-page-feedback__input {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0 0 20px;padding:0;
                                    height: 34px;
                                    padding: 0 11px;
                                    border-radius: 0;
                                    border: 1px solid #cbd1d4;
                                    background-color: #fff;
                                    font-size: 14px;
                                    font-family: Arial,Helvetica,sans-serif;
                                    color: #333;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    -webkit-tap-highlight-color: transparent;
                                    -webkit-tap-highlight-color: transparent;
                                    }
                                    .promo-page-feedback__input:hover {border-color: #aeb5bb;}
                                    .promo-page-feedback__input:focus {border-color:#219ce6;outline: 0;}
                                    .promo-page-feedback__input_error {border-color:#ff4444!important;}
                                    .promo-page-feedback__error {position:absolute;z-index:1;bottom:100%;left:0;display:none;margin-bottom:17px;padding:7px 12px;background-color:#ff4444;color:#fff;box-shadow:0 1px 4px rgba(0,0,0,0.3);font:12px/12px Arial, sans-serif;}
                                    .promo-page-feedback__error:before {content:'';position:absolute;top:100%;left:50%;margin-left:-8px;border:8px solid transparent;border-top:8px solid #ff4444;}
                                    .promo-page-feedback__input_error:focus + .promo-page-feedback__error {display:block;}
                                    .promo-page-feedback__common-error {display:none;margin-bottom:10px;color:#ff4444;}
                                    .promo-page-feedback__common-error_active {display:block;}
                                    .promo-page-feedback__button {padding:8px 11px;font-size:14px;line-height:16px;}
                                    @media screen and (max-width: 1340px) {
                                    .promo-page-advantages {}
                                    .promo-page-advantages__item {padding:0 35px;}
                                    .promo-page-advantages__text {max-width:230px;}
                                    .promo-page-types {}
                                    .promo-page-types__list {padding:0 70px;}
                                    .promo-page-types__item {width:50%;padding-right:70px;}
                                    .promo-page-action {}
                                    .promo-page-action__item {padding:0 25px;}
                                    .promo-page-action__item:before {width:140px;margin-left:-70px;}
                                    .promo-page-freebie__text {max-width:600px;}
                                    }
                                    @media screen and (max-width: 1019px) {
                                    .promo-page-advantages {}
                                    .promo-page-advantages__item {width:100%;padding:0 15px;text-align:left;}
                                    .promo-page-advantages__item:after {content:'';clear:both;display:table;}
                                    .promo-page-advantages__item + .promo-page-advantages__item {margin-top:70px;}
                                    .promo-page-advantages__canvas {float:left;width:34%;}
                                    .promo-page-advantages__info {float:left;width:66%;}
                                    .promo-page-advantages__title {margin-top:0;}
                                    .promo-page-advantages__text {max-width:330px;margin:4px 0 0 0;}
                                    .promo-page-types {}
                                    .promo-page-types__list {padding:0;}
                                    .promo-page-types__item {padding-right:10px;}
                                    .promo-page-responses__title {text-align:left;}
                                    .promo-page-slider__arrow_left {left:-70px;}
                                    .promo-page-slider__arrow_right {right:-70px;}
                                    }
                            


                                    .g-hidden {display:none;}
                                    .promo-nav {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:absolute;z-index:2;top:17px;left:0;width:100%;padding:0 35px 0 25px;}
                                    .promo-nav:after {content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:rgba(221,221,221,0.3);}
                                    .promo-nav_open {}
                                    .promo-nav-all {position:absolute;top:2px;left:0;}
                                    .promo-nav-toggle {position:absolute;top:2px;right:0;display:none;color:#ffffff;font:normal 16px/21px ProximaNovaCond,Arial,sans-serif;}
                                    .promo-nav-toggle:hover, .promo-nav-toggle:focus {text-decoration:none;}
                                    .promo-nav_open .promo-nav-toggle {top:8px;width:12px;height:12px;font-size:0;line-height:0;}
                                    .promo-nav_open .promo-nav-toggle:before, .promo-nav_open .promo-nav-toggle:after {content:'';position:absolute;top:50%;left:50%;width:12px;margin:-1px 0 0 -6px;border-top:2px solid #ffffff;}
                                    .promo-nav_open .promo-nav-toggle:before {-webkit-transform:rotate(45deg);transform:rotate(45deg);}
                                    .promo-nav_open .promo-nav-toggle:after {-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
                                    .promo-nav-list {height:31px;font-size:0;line-height:0;text-align:center;overflow:hidden;}
                                    .promo-nav-list__item {display:inline-block;vertical-align:top;padding-right:28px;font:normal 16px/21px ProximaNovaCond,Arial,sans-serif;}
                                    .promo-nav-list__item:last-child {padding-right:0;}
                                    .promo-nav-list__item_active {opacity:0.69;}
                                    .promo-nav-list__link {position:relative;display:inline-block;padding:0 0 10px;color:#ffffff;}
                                    .promo-nav-list__link:hover {text-decoration:none;}
                                    .promo-nav-list__link:after {position:absolute;left:0;bottom:0;width:100%;border-bottom:2px solid #ffffff;-webkit-transition:border 0.2s ease 0s;transition:border 0.2s ease 0s;}
                                    .promo-nav-list__item_active.g-hidden {display:inline-block!important;visibility:visible!important;}
                                    .promo-nav-list__item_active .promo-nav-list__link {cursor:default;}
                                    .promo-nav-list__item_active .promo-nav-list__link:after {content:'';}
                                    .promo-nav_open .promo-nav-list__item_active .promo-nav-list__link:after {border-color:transparent;}
                                    @media screen and (max-width: 1340px) {
                                    }
                                    @media screen and (max-width: 1019px) {
                                    }


                                    .promo-page-visible-mobile {display:none;}
                                            .promo-page-footer {padding-bottom:25px;border-top:1px solid #e5e5e5;font-size:12px;line-height:25px;}
                                            .promo-page-footer:after {content:'';clear:both;display:table;}
                                            .promo-page-footer__cell {box-sizing:border-box;float:left;width:20%;margin-top:40px;padding:0 5px;}
                                            .promo-page-footer__cell:first-child {padding-left:0;}
                                            .promo-page-footer__cell:last-child {padding-right:0;}
                                            .promo-page-footer__title {margin-bottom:25px;color:#999999;font-size:16px;}
                                            .promo-page-footer__phone {display:inline-block;vertical-align:middle;margin-bottom:10px;color:#333333;font-size:14px;line-height:20px;}
                                            .promo-page-footer__phone::after {content:'';display:block;}
                                            .promo-page-footer__email {color:#509deb;font-size:14px;line-height:20px;}
                                            .promo-page-footer__list + .promo-page-footer__title {margin-top:50px;}
                                            .promo-page-footer__list {}
                                            .promo-page-footer__item {}
                                            .promo-page-footer__link {color:#333333;}
                                            @media screen and (max-width: 1340px) {
                                            .promo-page-footer__cell {width:23%;padding:0;}
                                            .promo-page-footer__menu {display:flex;justify-content:space-between;}
                                            }
                                            @media screen and (max-width: 1019px) {
                                            .promo-page-hidden-mobile {display:none;}
                                            .promo-page-visible-mobile {display:block;}
                                            .promo-page-footer {}
                                            .promo-page-footer__cell {width:41.3333%;}
                                            .promo-page-footer__menu {flex-wrap:wrap;}
                                            }